<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Patient Portal</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
      <div class="registration">
      <fieldset class="account-info">
      <legend>PATIENT INFORMATION</legend>
    <form action="/patients/<%=patient.id%>?_method=PUT" method="POST">
      LAST_NAME:
      <input
        type="text"
        name="last_name" id="last_name"
        value="<%=patient.last_name%>"
      /><br />
      FIRST_NAME:
      <input
        type="text"
        name="first_name" id="first_name"
        value="<%=patient.first_name%>"
      /><br />
      ADDRESS:
      <input type="text" name="address" value="<%=patient.address%>" /><br />
      D.O.B: <input type="date" name="d_o_b" value="<%=patient.d_o_b%>" /><br />
      CONTACT:
      <input type="number" name="contact" value="<%=patient.contact%>" /><br />
      E-MAIL:
      <input type="email" name="email" value="<%=patient.email%>" /><br />
      INSURANCE:
      <input
        type="text"
        name="insurance"
        value="<%=patient.insurance%>"
      /><br />

      Co-Pay:
      <input type="number" name="co_pay" value="<%=patient.co_pay%>" /><br />

      <input type="submit" name="" value="Submit Changes" />
    </fieldset>
    </form>
  </div>
  </body>
</html>
