<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>
        <%=patient.first_name.charAt(0).toUpperCase()
        +patient.first_name.slice(1)%> Details
      </h1>
      <button class="center">
        <a href="/patients">All Pataients Page</a>
      </button>
      <p>
        LAST_NAME: <%=patient.last_name.charAt(0).toUpperCase()
        +patient.last_name.slice(1)%>
      </p>
      <p>
        FIRST_NAME: <%=patient.first_name.charAt(0).toUpperCase()
        +patient.first_name.slice(1)%>
      </p>
      <p>ADDRESS: <%=patient.address%></p>
      <p>D.O.B: <%=patient.d_o_b%></p>
      <p>CONTACT: <%=patient.contact%></p>
      <p>Email: <%=patient.email%></p>
      <p>
        INSURANCE: <%=patient.insurance.charAt(0).toUpperCase()
        +patient.insurance.slice(1)%>
      </p>
      <p>Co-Pay: <%=patient.co_pay%></p>
      <p>
        SYMPOTOMS: <%=patient.symptoms.charAt(0).toUpperCase()
        +patient.symptoms.slice(1)%>
      </p>
      <p>
        MEDICINE: <%=patient.medicine.charAt(0).toUpperCase()
        +patient.medicine.slice(1)%>
      </p>
      <p>Pick-Up: <%=patient.pick_up.toUpperCase()%></p>

      <button class="center">
        <a href="/patients/<%=patient.id%>/edit">Edit Patient Details</a>
      </button>
      <form action="/patients/<%=patient.id%>?_method=DELETE" method="POST">
        <br />
        <input
          type="submit"
          class="submit"
          class="btn btn-secondary"
          value="DELETE"
        />
      </form>
    </div>
  </body>
</html>
